<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorial</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1 @click="toggleAll">Vue Fundamentals</h1>

            <h2 @click="toggle('#part1')">Curly Brackets</h2>
            <div style="display: none" id="part1" class="parts">
                <p>Name: {{name}}</p>
                <p>Age: {{age}}</p>
                <p>Job: {{job}}</p>
                <p>{{greet('günaydın')}}</p>
            </div>
        
            <h2 @click="toggle('#part2')">Binding</h2>
            <div style="display: none" id="part2" class="parts">
                <a v-bind:href="website" target="_blank">Google</a>
                <input id="input1" type="text" v-bind:value='name'>
                <p v-html="websiteTag"></p>
            </div>

            <h2 @click="toggle('#part3')">Events</h2>
            <div style="display: none" id="part3" class="parts">
                <p>My age is: {{age}}</p>
                <button v-on:click.once="older">Only One Time - Happy Birthday!</button>
                <button v-on:click="older">Happy Birthday!</button>
                <button v-on:click="younger">Time Machine!</button>
                <br><br>
                <button v-on:dblclick="olderX(10)">Happy 10 Birthday!</button>
                <button v-on:dblclick="youngerX(10)">10 Time Machine!</button>
                <br><br>
                <a v-on:click.prevent="goBFcom" href="https://bugrafelekoglu.com" target="_blank">bugrafelekoglu.com</a>
                <div id="canvas" v-on:mousemove="updateCanvasXY">
                    {{mouseX}}, {{mouseY}}
                </div>                
            </div>

            <h2 @click="toggle('#part4')">Keyboard Events</h2>
            <div style="display: none" id="part4" class="parts">
                <label for="name">Name:</label>
                <input id="name" type="text" v-on:keyup.enter="logName">
                <br>
                <br>
                <label for="age">Age:</label>
                <input id="age" type="number" v-on:keyup.alt.enter="logAge">

            </div>

            <h2 @click="toggle('#part5')">Two-Way Data Binding</h2>
            <div style="display: none" id="part5" class="parts">
                <label for="game">Game:</label>
                <input id="game" type="text" v-model="game">
                <span>{{game}}</span>   
                <br>
                <br>
                <label for="gameHours">Game Hours:</label>
                <input id="gameHours" type="number" v-model="gameHours">
                <span>{{gameHours}}</span>
            </div>

            <h2 @click="toggle('#part6')">Computed Properties</h2>
            <div style="display: none" id="part6" class="parts">
                <button v-on:click="a++">Add to A</button>    
                <button v-on:click="b++">Add to B</button>   
                <p>A = {{a}}</p> 
                <p>B = {{b}}</p> 
                <p>A+B ={{a + b}}</p>
                <p>Age = {{age}}</p>
                <span>Methods:</span>
                <p>Age + A = {{aPlusAgeMethod()}}</p>
                <p>Age + B = {{bPlusAgeMethod()}}</p>
                <span>Computed:</span>
                <p>Age + A = {{aPlusAge}}</p>
                <p>Age + B = {{bPlusAge}}</p>
                <!--
                    Curly brackets içindeki fonksiyonlar:
                        method ise yanına parantez konur
                        computed ise parantez konmaz. 
                -->
            </div>

            <h2 @click="toggle('#part7')">Dynamic CSS</h2>
            <div style="display: none" id="part7" class="parts">
                <button v-on:click="activate">Activate</button>
                <button v-on:click="deactivate">Deactivate</button>
                <div v-bind:class="compClasses"></div>
            </div>

            <h2 @click="toggle('#part8')">Conditionals (v-if & v-show)</h2>
            <div id="part8" class="parts">
                <button v-on:click="error = !error">Toggle Error</button>
                <button v-on:click="success = !success">Toggle Success</button>
                <p v-if="error">There has been an error!</p>
                <p v-else-if="success">Successfully completed!</p>
                    <!-- 
                        v-show elemanı DOM'dan çıkarmaz sadece stile display:none koyar.
                     -->
                <p v-show="error">There has been an error!</p>
                <p v-show="success">Successfully completed!</p>

            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>